<p id="notice"><%= notice %></p>

<p>
<b>Uživatelské jméno:</b>
<%= @user.username %>
</p>

<p>
<b>E-mail:</b>
<%= @user.email %>
</p>

<table class="user_contributed table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th colspan="2">Přispěl</th>
			<th colspan="2">&Sigma; <%= money @user.total_contribution %></th>
		</tr>
		<tr>
			<th>Věc</th>
			<th>Pro</th>
			<th>Kolik</th>
			<th>Vytvořeno</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	<% @user.transactions_contributed.each do |transaction| %>
		<tr>
			<td><%= transaction.name %></td>
			<td><%= transaction.nice_user_list %></td>
			<td><%= money transaction.amount %></td>
			<td><%= datetime transaction.created_at %></td>
			<td><%= icon_link transaction, 'search' %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<table class="user_expedited table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th colspan="2">Přijmul</th>
			<th colspan="2">&Sigma; <%= money @user.total_expedience %></th>
		</tr>
		<tr>
			<th>Věc</th>
			<th>Od</th>
			<th>Kolik</th>
			<th>Vytvořeno</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	<% @user.transactions_expedited.each do |transaction| %>
		<tr>
			<td><%= transaction.name %></td>
			<td><%= User.find_by_id(transaction.payer).username %></td>
			<td><%= money transaction.amount_per_user %></td>
			<td><%= datetime transaction.created_at %></td>
			<td><%= icon_link transaction, 'search' %></td>
		</tr>
	<% end %>
	</tbody>
</table>
