<div class="clearfix">
<div class="new-transaction-form">
<%= form_for(@transaction) do |f| %>
	<% if @transaction.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

			<ul>
				<% @transaction.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		Od: <%= select("transaction", "payer", User.all.collect { |u| [ u.username, u.id ] }, :selected => current_user.id) %>
	</div>

	<div class="field">
		Pro:
		<% User.all.each do |user| %>
			<%= check_box_tag("transaction[user_list][#{user.id}]", "1", @transaction.users.detect{|d| d == user}) %>
			<%= user.username %>
		<% end %>
	</div>

	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :amount %>
		<%= f.text_field :amount %>
	</div>

	<div class="field">
		<%= f.label :notes %>
		<%= f.text_field :notes %> <!-- TODO: area? -->
	</div>

	<div class="actions">
		<%= f.submit "Založit transakci", :class => 'btn btn-primary' %>
	</div>
<% end %>
</div>

<!-- TODO detail, seznam jeho transakci -->
<table class="contribution-summary table table-condensed table-bordered">
	<thead>
		<tr>
			<th>Kdo</th>
			<th>Celkem dal</th>
			<th>Celkem vzal</th>
			<th>&Delta;</th>
		</tr>
	</thead>
	<tbody>
		<% sum = 0 %>
		<% @users.each do |user| %>
			<% sum += user.total_contribution %>
			<tr>
				<td><%= link_to user.username, user, :class => 'icon-user icon-large' %></td>
				<td><%= money user.total_contribution %></td>
				<td><%= money user.total_expedience %></td>
				<td><%= money_balance user.balance %></td>
			</tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td colspan="2" style="text-align: center;">
				<b>&Sigma; <%= money sum %></b>
			</td>
			<td></td>
		</tr>
	</tfoot>
</table>
</div>

<table class="transaction-list table table-condensed table-hover table-striped table-bordered">
	<thead>
		<tr>
			<th>Věc</th>
			<th>Zaplatil</th>
			<th>Pro</th>
			<th>Kolik</th>
			<th>Vytvořeno</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		<% @transactions.each do |transaction| %>
			<tr>
				<td><%= transaction.name %></td>
				<td><%= link_to User.find_by_id(transaction.payer).username, User.find_by_id(transaction.payer), :class => 'icon-user icon-large' %></td>
				<td><%= transaction.nice_user_list %></td>
				<td><%= money transaction.amount %></td>
				<td><%= datetime transaction.created_at %></td>
				<td><%= icon_link transaction, 'search' %></td>
			</tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5">
				<%= will_paginate @transactions %>
			</td>
		</tr>
	</tfoot>
</table>
