<!DOCTYPE html>
<html>
<head>
  <title>Penezotron</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_user %>
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<ul class="nav nav-tabs">

				<li><%= menu_icon_link current_user.username, current_user, 'user' %></li>
				<li><%= menu_icon_link "Home", :home, 'home' %></li>
				<li><%= menu_icon_link "Transakce", transactions_path, 'file' %></li>
				<li><%= menu_icon_link "Změna údajů", edit_user_path(current_user.id), 'edit' %></li>
				<li><%= menu_icon_link "Registrace nového uživatele", new_user_path, 'asterisk' %></li>
				<li><%= menu_icon_link "Odhlásit", :logout, 'signout' %></li>
				<!--
				<li><%= link_to current_user.username, current_user, :class => "icon-user" %></li>
				<li><%= link_to "Home", :home, :class => "icon-home" %></li>
				<li><%= link_to "Transakce", transactions_path, :class => "icon-file" %></li>
				<li><%= link_to "Změna údajů", edit_user_path(current_user.id), :class => "icon-edit" %></li>
				<li><%= link_to "Registrace nového uživatele", new_user_path, :class => "icon-asterisk" %></li>
				<li><%= link_to "Odhlásit", :logout, :class => "icon-signout" %></li>
				-->
			</ul>
		</div>
	</div>
	<% end %>

	<div class="container">
		<div class="content">
			<% flash.each do |key,msg| %>
				<div id="<%= key %>">
					<%= msg %>
				</div>
			<% end %>
			<%= yield %>
		</div>
	</div>

</body>
</html>
